@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Shazeb Chawdhari</h3>

<address>
    Hinjewadi<br />
    Pune, MH 411057<br />
    <abbr title="Phone">P:</abbr>
    08564904904
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:shahzebchaudhary2011@gmail.com">Shahzebchaudhary2011@gmail.com</a><br />
</address>